.vscode
__pycache__
lightning_logs
checkpoints
.ipynb_checkpoints
RUL_FD002.txt
RUL_FD003.txt
RUL_FD004.txt
test_FD002.txt
test_FD003.txt
test_FD004.txt
train_FD003.txt
train_FD004.txt
train_FD005.txt